[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=ec2-user
Group=adm
WorkingDirectory=/home/ec2-user/openai_tools_challenge
Environment="PATH=/home/ec2-user/openai_tools_challenge/virtual_env/bin"
ExecStart=/home/ec2-user/openai_tools_challenge/virtual_env/bin/gunicorn wsgi:app --error-logfile gunicorn_error.log  -b 0.0.0.0:80 -e OPENAI_API_KEY=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

[Install]
WantedBy=multi-user.target